html {
    font-size: 18px;
}

body {
    width: 100%;
}

header {
    background-image: url('../mobybanner.jpg');
    height: 270px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1, h2 {
    font-family: 'Eczar', serif;
}

p {
    font-size: 1.3rem;
}

p, input {
    font-family: 'Lato', sans-serif;
}

header h1 {
    font-size: 4rem;
}

header h2 {
    font-size: 3rem;
}

header h1, header h2 {
    width: 38rem;
    position: relative;
    left: 8rem;
    top: 3rem;
}

input {
    margin-left: 1rem;
    width: 4rem;
    background-color: #b3dff3;
}

table {
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

table tr td {
    padding-bottom: 0.5rem;
}

#tipsum {
    padding-top:0.9rem;
}

.parentcontainer {
    background-image: url("../mobybackground.jpg");
    min-height: 800px;
    background-size: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 5rem;
    font-size: 1.3rem;
}
.content {
    position: relative;
    border: 2px rgb(66, 72, 77) groove;
    outline: 2px grey groove;
    outline-offset: 1px;
    top: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    background-color: rgba(156, 197, 224, 0.8);
    width: 65%;
    min-height: 575px;
}

.bodyheader {
    margin-bottom: 3rem;
}

#tips {
    height: 1.5rem;
}

.tipsfieldname {
    margin-top: 0.3rem;
}

.fronthouse {
    padding-bottom: 2rem;
}

.fronthouse h2 {
    padding-bottom: 1rem;
    font-size: 2rem;
}

.kitchenstaff h2 {
    padding-bottom: 1rem;
    font-size: 2rem;
}

.waittipbutton {
    display: block;
    margin-top: 0.6rem;
    width: 6rem;
    font-size: 0.8rem;
}

.waitressoutput {
    padding-top: 1rem;
}

.datatable {
    width: 50rem;
}

.flexcontainer {
    display: flex;
    justify-content: flex-start;
}

.flexcolumn {
    display: inline-flex;
    flex-direction: column;
}

.offsetleft {
    margin-left: 3rem;
}

.boxmargin {
    display: inline-flex;
}

.flexleft {
    margin-right: auto;
}

.flexright {
    margin-left: 2rem;
}

.specialmargin {
    margin-left: 8.71rem;
}

.outputcontainer {
    position: relative;
    top: 3rem;
}

/* font awesome edit */

.fa-times {
    color: rgba(255, 102, 0, 0.836);
    font-size: 0.8rem;
    margin-left: 0.4rem;
}